@import "variables";

body {
  background-color: rgba($color-primary, .23);
}

.development-picture-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  background: url("/images/bg/bg_training.png") no-repeat center center;
  background-size: cover;
}

.development-overlay {
  background: rgba($color-primary, .62);
  height: 500px;
}

.development-content {
  padding-top: 76px;
  text-align: center;
  color: $color-white;
  width: 50%;
  margin-left: 25%;

  @media (max-width: 1066px) {
    margin: 0;
    width: 100%;
  }

  li {
    text-align: left;
    font-size: 15px;

    @media (max-width: 1066px) {
      font-size: 13px;
      background-size: cover;
    }
  }

  h1 {
    color: $color-white;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  a {
    color: $link-color;

    &:hover {
      color: $color-secondary-alt;
    }
  }
}

.centered-form {
  margin: 2em auto;
  width: 500px;
}
